<div class="cours-list-container">
  <div class="accordion-container">
    <button
      class="cours-creation-button"
      mat-raised-button
      color="accent"
      (click)="openCreateCoursDialog()"
    >
      Create Cours
    </button>
    <mat-accordion
      *ngFor="let cours of courses"
      class="cours-list-acccordion"
      (click)="setSelectedCours(cours)"
    >
      <app-cours-list-item
        (snippetChange)="receiveComments($event)"
        [cours]="cours"
      ></app-cours-list-item>
    </mat-accordion>
  </div>
  <div class="separator"></div>
  <app-sidebar
    [cours]="selectedCours"
    [commentSnippet]="commentSnippet"
    class="side-bar"
  ></app-sidebar>
</div>
