<div class="cours-list-container">
  <mat-card class="accordion-container">
    <button
      class="cours-creation-button"
      mat-raised-button
      color="accent"
      (click)="openCreateCoursDialog()"
    >
      Create Cours
    </button>

    <mat-accordion class="cours-list-acccordion" multi="false">
      <app-cours-list-item
        (coursChange)="coursChange($event)"
        *ngFor="let cours of (courses$ | async)?.reverse()"
        (snippetChange)="snippetChange($event)"
        [cours]="cours"
      ></app-cours-list-item>
    </mat-accordion>
  </mat-card>

  <div class="separator"></div>
  <app-sidebar
    [selectedCours]="selectedCours"
    [selectedSnippet]="selectedSnippet"
    class="side-bar"
  ></app-sidebar>
</div>
