<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="description"
        name="description"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Code</mat-label>
      <textarea matInput [(ngModel)]="code" name="code"></textarea>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Explanation</mat-label>
      <textarea
        matInput
        [(ngModel)]="explanation"
        name="explanation"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList aria-label="Tags">
        <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
          {{ tag }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="New Tag..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>

    <div class="button-container">
      <button type="reset" mat-raised-button color="primary" (click)="cancle()">
        Cancle
      </button>
      <button type="submit" mat-raised-button color="accent">Submit</button>
    </div>
  </form>
</div>
