<mat-expansion-panel
  (opened)="showComments()"
  class="course-snippet-panel should-highlight-on-hover"
  hideToggle
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>{{ snippet.id }}</h4>
    </mat-panel-title>
    <mat-panel-description>
      <p>{{ snippet.description }}</p>
    </mat-panel-description>
    <button color="accent" mat-flat-button (click)="openPatchSnippet($event)">
      <mat-icon matTooltip="Update Snippet">edit</mat-icon>
    </button>
  </mat-expansion-panel-header>
      <div class="code-container">
        <div class="code-title">
          <h4 style="margin-top: 16px; padding-left: 16px">Code</h4>
        </div>
        <pre class="code">
          <code style="width: 100%; max-height: 500px;"  [lineNumbers]="true" [highlight]="snippet.code"></code>
          </pre>
      </div>

      <div class="code-container">
        <div class="code-title">
          <h4 style="margin-top: 16px; padding-left: 16px">Explanation</h4>
        </div>
        <pre class="code">
          <p style="width: 100%; height: 100%;">{{ snippet.explanation }}</p>
          </pre>
      </div>


  <mat-chip-list aria-label="Tags">
    <mat-chip *ngFor="let tag of snippet.tags" color="accent" selected="">{{
      tag
    }}</mat-chip>
  </mat-chip-list>
</mat-expansion-panel>
