.course-snippets {
  padding: 10px;
  width: 100%;
  display: flex;
}

.course-snippet-panel{
  width:100%
}

.course-snippet-panel .expanded {
  background-color: aqua !important;
}

.snippet-tag-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px; /* Adjust the gap as needed */
}