
.card-container {
  display: flex;
  padding: 10px;
  height: 100%;
}

.selection-container {
  display: flex;
  width: 30%;
}

mat-tab-group{
  width: 100%;
}
.select-section {
  padding: 20px;
  mat-card {
    max-width: 30vw;
    mat-card-title{
      font-size:x-large;
    }
    mat-chip{
      padding:22px;
    }
  }
}

.research-section {
  padding: 20px;
  mat-card {
  
    width:100%
    mat-card-title{
      font-size:large;
    }
    mat-card-actions{
      padding: 15px;
    }
  }
}

.quizz-container {
display: flex;
  width: 70%;
}


.selected {
  background-color: rgb(12, 114, 12);
  color: white;
}