<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header class="cours-list-item-panel">
    <mat-panel-title>
      {{ cours?.title }}
    </mat-panel-title>
    <mat-panel-description>
      {{ cours?.description }}
    </mat-panel-description>
    <button mat-raised-button (click)="openCreateSnippetDialog()">
      Create Snippet
    </button>
  </mat-expansion-panel-header>

  <div class="cours-snippet-container">
    <app-cours-list-item-snippet
      *ngFor="let snippet of snippets"
      [snippet]="snippet"
      (snippetChange)="receiveComments($event)"
      class="course-snippet-parent"
    ></app-cours-list-item-snippet>
  </div>
</mat-expansion-panel>
