<mat-expansion-panel
  (closed)="hideComments()"
  class="should-highlight-on-hover"
  style="background-color: lightgrey"
  hideToggle
>
  <mat-expansion-panel-header class="cours-list-item-panel">
    <mat-panel-title>
      {{ cours?.title }}
    </mat-panel-title>
    <mat-panel-description>
      {{ cours?.description }}
    </mat-panel-description>
    <div style="display: flex; justify-content: space-between; gap: 5px">
      <button color="accent" mat-raised-button (click)="openPatchCours($event)">
        <mat-icon matTooltip="Update Course">update</mat-icon>
      </button>
      <button
        color="accent"
        mat-raised-button
        (click)="openCreateSnippetDialog($event)"
      >
        <mat-icon matTooltip="Add Snippet">add</mat-icon>
      </button>
    </div>
  </mat-expansion-panel-header>

  <mat-accordion class="course-snippet-accordion">
    <app-cours-list-item-snippet
      *ngFor="let snippet of snippets"
      [snippet]="snippet"
      (snippetChange)="receiveComments($event)"
      class="course-snippet-parent"
    ></app-cours-list-item-snippet>
  </mat-accordion>
</mat-expansion-panel>
