<mat-expansion-panel
  (opened)="emitCours()"
  (closed)="resetSideBar()"
  class="should-highlight-on-hover"
  style="background-color: lightgrey"
  hideToggle
>
  <mat-expansion-panel-header class="cours-list-item-panel">
    <mat-panel-title>
      <h2>{{ cours?.title }}</h2>
    </mat-panel-title>
    <mat-panel-description>
      <h3>{{ cours?.description }}</h3>
    </mat-panel-description>
    <div style="display: flex; justify-content: space-between; gap: 5px">
      <button color="accent" mat-flat-button (click)="openPatchCours($event)">
        <mat-icon matTooltip="Update Course">edit</mat-icon>
      </button>
      <button
        color="accent"
        mat-flat-button
        (click)="openCreateSnippetDialog($event)"
      >
        <mat-icon matTooltip="Add Snippet">add</mat-icon>
      </button>
    </div>
  </mat-expansion-panel-header>
  <div style="text-align: center" *ngIf="filteredSnippets.length === 0">
    <h3>No Snippets yet</h3>
  </div>
  <mat-accordion class="course-snippet-accordion">
    <app-cours-list-item-snippet
      v-else
      *ngFor="let snippet of filteredSnippets"
      [snippet]="snippet"
      (snippetChange)="emitSnippet($event)"
      class="course-snippet-parent"
    ></app-cours-list-item-snippet>
  </mat-accordion>
</mat-expansion-panel>
