<mat-card class="side-bar-container">
  <div class="section">
    <mat-card>
      <mat-card-title
        >Number of Snippets :
        {{ selectedCours ? numberOfSnippets : "-" }}</mat-card-title
      >
    </mat-card>
  </div>
  <div class="section">
    <mat-card>
      <mat-card-title>Snippet Tags</mat-card-title>
      <mat-card-content>
        <mat-chip-list aria-label="Tags">
          <mat-chip *ngFor="let tag of tags" color="accent" selected="">{{
            tag
          }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="section comment-section">
    <mat-card *ngIf="!showCommentForm">
      <mat-card-title>Comments</mat-card-title>
      <mat-card-content>
        <div *ngIf="!selectedSnippet">
          Please select a snippet to get available comments.
        </div>
        <div *ngIf="comments.length === 0 && selectedSnippet">
          No comments on this Snippet.
        </div>

        <div *ngIf="!showCommentForm" class="comment-container">
          <section *ngFor="let comment of comments.reverse()">
            <div class="comment">
              <h3>
                {{ comment.user_name == "" ? "Anonymous " : comment.user_name }}
              </h3>
              <h5>{{ comment.date }}</h5>
            </div>
            <p>
              {{ comment.comment }}
            </p>
          </section>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="showCommentForm">
      <mat-card-title>Create Comment</mat-card-title>
      <mat-card-content>
        <form
          class="create-comment-form"
          (ngSubmit)="onSubmit()"
          [formGroup]="form"
        >
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>User Name</mat-label>
            <input
              matInput
              [(ngModel)]="user_name"
              name="user_name"
              formControlName="user_name"
            />
            <mat-error *ngIf="form.get('user_name')?.hasError('maxlength')"
              >Username is too long</mat-error
            >
          </mat-form-field>
          <mat-form-field class="w-100"  appearance="fill">
            <mat-label>Comment</mat-label>
            <textarea
              matInput
              style="height:20vh"
              [(ngModel)]="comment"
              name="form_comment"
              formControlName="comment"
            ></textarea>
            <mat-error *ngIf="form.get('comment')?.hasError('required')"
              >Comment is required</mat-error
            >
          </mat-form-field>
          <div class="button-container">
            <button
              type="reset"
              mat-raised-button
              color="primary"
              (click)="cancleCommentForm()"
            >
              Cancle
            </button>
            <button
              type="submit"
              mat-raised-button
              color="accent"
              [disabled]="form.invalid"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <button
      *ngIf="!showCommentForm && selectedSnippet"
      mat-flat-button
      color="accent"
      class="w-100 margin-top-10"
      (click)="addCommentForm()"
    >
      Add Comment
    </button>
  </div>
</mat-card>
