<mat-card class="side-bar-container">
  <span><h1>Additional Information</h1></span>
  <div
    style="display: flex; flex-direction: column; flex-grow: 1"
    *ngIf="cours"
  >
    <span> <h3>Number of Snippets</h3></span>
    <div>TODO: X</div>
    <span> <h2>Time periode</h2></span>
    <div>TODO: earliest snippet - last snippet</div>
    <span><h3>Snippet Tags</h3></span>
    <mat-chip-list aria-label="Tags">
      <mat-chip *ngFor="let tag of tags" color="accent" selected="">{{
        tag
      }}</mat-chip>
    </mat-chip-list>
    <span><h2>Snippet Comments</h2></span>
    <form *ngIf="commentSnippet" (ngSubmit)="onSubmit()" #myForm="ngForm">
      <mat-form-field style="width: 50%" appearance="fill">
        <mat-label>User Name</mat-label>
        <input
          matInput
          [(ngModel)]="user_name"
          required
          name="user_name"
          id="user_name"
        />
      </mat-form-field>

      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea
          matInput
          [(ngModel)]="form_comment"
          required
          name="form_comment"
          id="form_comment"
        ></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="width: 100%"
      >
        Submit
      </button>
    </form>
    <div style="margin-top: 10px">
      <div *ngFor="let comment of comments">
        <h4>{{ comment.user_name }}</h4>
        <p style="padding-left: 5px">
          {{ comment.comment }}
        </p>
      </div>
    </div>
  </div>
</mat-card>
