.side-bar-container {
  width: 100%;
  background-color: lightgray;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.side-bar-container::-webkit-scrollbar {
  display: none;
}

.tags-container {
  padding: 5px;
  display: flex;
  gap: 5px; /* Adjust the gap as needed */
}

.tag {
}
